.project
dist
django_admin_sortable.egg-info
.pydevproject
*.pyc
*.pyo
.idea
atlassian-ide-plugin.xml
django-admin-sortable.sublime-project
django-admin-sortable.sublime-workspace
adminsortable.sublime-project
adminsortable.sublime-workspace
.ropeproject
.codeintel