.sortable.has_original {
    cursor: move;
}

.sortable .inline-related .module.aligned .fa,
.sortable.inline-group .module .fa {
    display: block;
    float: left;
}

.sortable .inline-related .module.aligned .fa {
    margin: 9px 10px 0 0;
}

.sortable.inline-group .module .fa {
	margin: 34px -10px 0 10px;
}
