{% load django_template_additions %}
{% dynamic_regroup objects by group_expression as regrouped_objects %}
{% if regrouped_objects %}
    <ul {% if sortable_by_class_is_sortable %}class="sortable"{% endif %}>
        {% for regrouped_object in regrouped_objects %}
            {% with object=regrouped_object.grouper %}
                {% if object %}
                    <li class="parent">{% if sortable_by_class_is_sortable %}
                            {% include "adminsortable/shared/object_rep.html" %}
                        {% else %}
                            {{ object }}
                        {% endif %}

                        {% if regrouped_object.list %}
                            {% with regrouped_object_list_length=regrouped_object.list|length %}
                            <ul {% if regrouped_object_list_length > 1 %}class="sortable"{% endif %}>
                                {% include "adminsortable/shared/list_items.html" with list_objects=regrouped_object.list %}
                            </ul>
                            {% endwith %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
{% endif %}
