{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    
    {% if has_sortable_tabular_inlines or has_sortable_stacked_inlines %}
    {% include 'adminsortable/shared/javascript_includes.html' %}
    {% endif %}
    {% if has_sortable_tabular_inlines %}
    <script type="text/javascript" src="{{ STATIC_URL }}adminsortable/js/admin.sortable.tabular.inlines.js"></script>
    {% endif %}
    {% if has_sortable_stacked_inlines %}
    <script type="text/javascript" src="{{ STATIC_URL }}adminsortable/js/jquery.effects.core.js"></script>
    {% endif %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    {% if has_sortable_tabular_inlines %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}adminsortable/css/admin.sortable.tabular.inline.css" />
    {% endif %}
    
{% endblock %}