{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list adminsortable_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'adminsortable/css/admin.sortable.css' %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static jquery_lib_path %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script src="{% static 'adminsortable/js/jquery-ui-django-admin.min.js' %}"></script>
{% include 'adminsortable/csrf/jquery.django-csrf.html' with csrf_cookie_name=csrf_cookie_name %}
<script src="{% static 'adminsortable/js/admin.sortable.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block title %}{% blocktrans with opts.verbose_name_plural|capfirst as model %}Drag and drop {{ model }} to change display order{% endblocktrans %} | {% trans 'Django site admin' %}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="../../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo;
      	{% trans 'Reorder' %}
    </div>
{% endblock %}
{% endif %}

{% block content_title %}
	<h1>
    	{% if sort_type %}
    	{% blocktrans with opts.verbose_name_plural|capfirst as model %}Drag and drop {{ sort_type }} {{ model }} to change their order.{% endblocktrans %}
    	{% else %}
    	{% blocktrans with opts.verbose_name_plural|capfirst as model %}Drag and drop {{ model }} to change their order.{% endblocktrans %}
    	{% endif %}
	</h1>
	{% if sortable_by_class_is_sortable %}
	<p class="sortable-help-text">
	{% blocktrans %}You may also drag and drop {{ sortable_by_class_display_name }} to change their order.{% endblocktrans %}
	</p>
	{% endif %}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
	<div id="content-main">
		{% block object-tools %}
	        <ul class="object-tools">
	            <li>
                    <a href="../">
                    {% blocktrans with opts.verbose_name_plural|capfirst as model %}Return to {{ model }}{% endblocktrans %}
                    </a>
                </li>
	        </ul>
	    {% endblock %}
		{% if objects %}
		<div id="sortable">
			{% if group_expression %}
          {% render_nested_sortable_objects objects group_expression %}
			{% else %}
			    {% render_sortable_objects objects %}
			{% endif %}
      {% csrf_token %}
		</div>
		{% endif %}
	</div>
{% endblock %}
