{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}

    {% if has_sortable_tabular_inlines or has_sortable_stacked_inlines %}
        {% include sortable_javascript_includes_template %}
    {% endif %}
    {% if has_sortable_tabular_inlines %}
        <script type="text/javascript" src="{{ STATIC_URL }}adminsortable/js/admin.sortable.tabular.inlines.js"></script>
    {% endif %}
    {% if has_sortable_stacked_inlines %}
        <script type="text/javascript" src="{{ STATIC_URL }}adminsortable/js/jquery.effects.core.js"></script>
    {% endif %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if has_sortable_tabular_inlines or has_sortable_stacked_inlines %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}adminsortable/css/admin.sortable.inline.css" />
    {% endif %}
{% endblock %}
